<!DOCTYPE html> 
<html> 
 
<head>
</head> 
<body >
 
<div align=\"center\"> </div>

  <h2><center><FONT COLOR=\"#0080FF\">New Blog</FONT></center></h2>
  <h3><center><FONT COLOR=\"#08088A\">Enables user to comment</FONT></center></h3>
<br> 
<br> 
<br> 
<br>
<h1><center><FONT COLOR=\"8A0829\">Click on Blog to comment as User</FONT></h1><a href="http://localhost:1337/blog/">Click here</a>
 
</body> 
</html> 



