<form action="/blog/update/<%= blog.id%>" method="POST" >
<h2> Create a Blog</h2>

<input value="<%= blog.name %>"type="text" name="name" ><br/>
<input value="<%= blog.comment %>"type="text" name="comment" ><br/>
<input type="submit" value="Edit Blog" ><br/>
</form>